@use "../custom" as *;

.faq {
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  padding-bottom: 4rem;
}

.mycontainer {
  border: solid 0.8px $primary;
}

.my-botton {
  width: 100%;
  background: $white;
  border: none;

  .title-botton {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    color: $primary;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 400;
    &:hover {
      background-color: $gray-200;}
  }
  &:hover {
    background-color: $gray-200;}
    border-bottom: 0.5px solid $primary;

}


.text-container {
  display: block;
  padding: 1rem;
  background-color: $gray-200;
  width: 100%;
}
