@use "../custom" as *;

.faq {
  &__title {
    text-align: center;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
  }
  &__subtitle {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
