// import
@use "../custom" as *;
@use "../components/mixins" as *;

.footer {
  background: $footer;
  padding-top:1.5rem;
}

//STYLE CONTACT-BOX  CONTENEDOR TOTAL

.contact-box {
  position: relative;

  &__icon {
    width: 4rem;
    height: 4rem;;
    stroke: $primary;
    flex-shrink: 0;
  
  }

  &__info {
    padding: 0.4rem;
    font-weight: 500;

    &--title {

        color: $white;
        text-decoration: none;
        font-size: 1rem;
        @include media-breakpoint-up (sm) {
            font-size: 1.4rem;

        }
    
    }

    &--subtitle {
        color: $gray-600;
        text-decoration: none;
        font-size: 0.8rem;

        @include media-breakpoint-up (sm) {
            font-size: 1rem;

        }
    }
  }
}
