// import
@use "../custom" as *;
@use "../components/mixins" as *;

.footer {
  background: $footer-sm;
}

//STYLE CONTACT-BOX  CONTENEDOR TOTAL

.contact-box {
  position: relative;

  &__icon {
    width: 4rem;
    height: 4rem;
    stroke: $primary;
    flex-shrink: 0;
  }

  &__info {
    padding: 0.4rem;
    font-weight: 500;

    &--title {
      color: $white;
      text-decoration: none;
      font-size: 1rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
    }

    &--subtitle {
      color: $gray-600;
      text-decoration: none;
      font-size: 0.8rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
  }
}
//FOOTER TITLE
.footer-sm {
  position: relative;
  background-color: $footer;
  text-align: center;
  padding: 2rem 0rem 1rem 0rem;
  margin-bottom: 1rem;

  h4 {
    color: $gray-300;
    font-size: 1.5rem;
    &:hover {

      transition: transform 0.5s;
      transform: translateY(
        -4px
      ); /* Cuando el cursor se coloca sobre el texto, lo desplazamos hacia arriba */
    }
  }
}

.FooterCampanyinfo {
  position: relative;
  background-color: $footer;
  text-align: center;
  width: auto;
  h5 {
    padding: 0;
  }
  hr {
    width: 5rem;
    height: 0.1rem;
    padding-bottom: 0.1rem;
  }
  .list {
    padding: 0;
    text-align: left;
    display: block;
    position: relative;
    list-style: none;
    padding-left: 3.5rem;

    li {
      padding-bottom: 0.5rem;
    }
    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}

.copyright{
  font-size: 1rem;
  background-color: $black;
  padding: 2rem 2.5rem;

}