// IMPORTANTE!! PARA QUE ESTO FUNCIONE HAY QUE IMPORTAR EL ARCHIVO DONDE SE GUARDAN LAS VARIABLES O LO QUE VAYAMOS A USER, el as * es para quese asignen todos los estilos o variables definidas en el custom dentro de este archivo y asi no llamar uno por a todos;

// IMPORT MODULES//
@use "../custom" as *;
@use "../components/mixins" as *;

//creamos una nueva clase para la navbar llamada "menu"
// primero vamos a ponerle un background degragado, traido desde el mixins
.menu {
  @include gradient;

  ul {
    padding: 0;
    li {
      @include media-breakpoint-down(lg) {
        padding-left: 0px;
      }
      padding: 1.57rem 0.3rem 0rem 0.3rem;
      
      a {
        padding: 0 0.2rem;
        // 0 para lo superior e inferior, 0,7 para izq y dere.
        color: $white;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 2 rem;
        font-size: 1.2 rem;
      }
    }
  }
}
