@use "../custom" as *;
@use "./mixins" as *;

.display-2 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;


  &--intro {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    text-transform: none;
  }
}

//HEADING LINE
// primary line
.heading-line::before{
  content:"";
  width:25rem;
  height: 0.2rem;
  display: block;
  //sin el display block, esta linea no aparece, el display le otorga un elemento invisible, que me va a hacer aparecer bordes
  margin: 0 auto;
  background: $primary;
}

//secundary line
.heading-line::after{
  content:"";
  width:8rem;
  padding-top: 0.4rem;
  margin-bottom: 20rem;
  height:0.1rem;
  display: block;
  margin: 0 auto; //0 margenes sup e inf y auto, una distribucion igual de lados para que quede centrado
  background: $primary;
  
}