@use "../custom" as *;
@use "./mixins" as *;

.display-2 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    text-transform: none;
  }
}

//HEADING LINE
// primary line
.heading-line::before {
  content: "";
  width: 25rem;
  height: 0.2rem;
  display: block;
  //sin el display block, esta linea no aparece, el display le otorga un elemento invisible, que me va a hacer aparecer bordes
  margin: 0 auto;
  background: $primary;
}

//secundary line
.heading-line::after {
  content: "";
  width: 8rem;
  padding-top: 0.4rem;
  margin-bottom: 20rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto; //0 margenes sup e inf y auto, una distribucion igual de lados para que quede centrado
  background: $primary;
}

.heading-line2 {
  display: block;
  content: "";
  width: 8rem;
  height: 0.2rem;
  background: gray;
}

.heading-line3::before {
  display: block;
  content: "";
  background: $primary;
  margin: 0 auto;
  height: 0.2rem;
  width: 10rem;
}

.heading-line3::after {
  display: block;
  content: "";
  background-color: $primary;
  margin: 0 auto;
  height: 0.3rem;
  width: 2rem;
}

.display-3 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }

  //my proyects-h3
  &--title {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
}

.border-right {
  border-right: 0.2rem solid $gray-300;
}

// GRADIENT BG

.gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.96)
  );
}



.display-footer {
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }

  //my proyects-h3
  &--subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }
}
