@use "../custom" as *;
@use "./mixins" as *;

.display-2 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;


  &--intro {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    text-transform: none;
  }
}
